:root {
  --bg-color: #232323;
  --code-color: #262627;
  --line-color: #333;
  --bottom-inset: 50px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  overscroll-behavior: contain;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
}


html,
body,
input {
  font-size: 1.1rem;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: var(--bg-color);
  color: ivory;
}

main {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  border: none;
}

#code {
  padding: 0 0.25rem 0 1.5rem;
  height: calc((100vh - var(--bottom-inset)) * 2 / 3);
  background-color: var(--code-color);
  overflow: auto;
  position: relative;
}

#messages {
  height: calc((100vh - var(--bottom-inset)) / 12);
  /*padding: 0 0.25rem;*/
  /*border-width: 1px;*/
  /*border-color:  #4E4D4E;*/
  /*border-style: solid;*/
}

#instructions {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.25rem;
  height: calc((100vh - var(--bottom-inset)) / 4);
  overflow-x: scroll;
  /*background-color: #2F3030;*/
}

#paddle {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.instr {
  background-color: #3c3c3c;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  height: 1.75rem;
  user-select: none;
  touch-action: pan-x;
}

.line:hover,
.instr:hover {
  cursor: grab;
}

.line:active:hover,
.instr:active:hover {
  cursor: grabbing;
}

.line {
  counter-increment: line;
  padding: 0;
  margin: 0;
  list-style: none;
  user-select: none;
  touch-action: none;
}

.line::after {
  content: counter(line);
  display: inline-block;
  text-align: right;
  width: 2ch;
  margin-right: 5px;
  /*font-size: small;*/
  color: #888888;
  position: absolute;
  left: 0;
}

.line.cursor::before {
  content: "";
  display: block;
  outline: 1px solid aqua;
  pointer-events: none;
}

.delete {
  color: #ff7171;
}

.delete-border {
  border: 1px solid #FF0000;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: stetch;
  color: #555;
}

.numeric {
  color: ivory;
}

.numeric-border {
  border: 1px solid #777777;
}

.control-flow {
  color: #D673CB;
}

.control-flow-border {
  border: 1px solid #D673CB;
}

.memory {
  color: #AC86FF;
}

.memory-border {
  border: 1px solid #AC86FF;
}

.variable {
  color: #86BDF9;
}

.variable-border {
  border: 1px solid #86BDF9;
}

.function {
  color: #80e4c9;
}

.function-border {
  border: 1px solid #80e4c9;
}

.line:not(.empty) > .line-instr {
  background-color: var(--line-color);
  padding: 0 1rem;
}

/************* GENERAL *************/

.input {
  color: ivory;
  outline: none;
  border: none;
  background-color: var(--bg-color);
}
