:root {
  --bg-color: #232323;
  --code-color: #262627;
  --line-color: #333;
  --bottom-inset: 50px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  overscroll-behavior: contain;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
}


html,
body,
input {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: var(--bg-color);
  color: ivory;
  fill: ivory;
}

header {
  /*display: flex;*/
  /*justify-content: flex-end;*/
  position: relative;
}

button {
  border: none;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  font-size: small;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

main {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  border: none;
  padding-left: 0.25rem;
}

#code {
  height: calc((100vh - var(--bottom-inset)) * 2 / 3);
  background-color: var(--code-color);
  overflow: auto;
  position: relative;
}

#wat {
  font-size: smaller;
}

#messages {
  height: calc((100vh - var(--bottom-inset)) / 12);
  font-size: 0.85rem;
  overflow: auto;
}

@media (width >= 400px) {
  #messages {
    font-size: 1rem;
  }
}


#instructions {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.25rem;
  height: calc((100vh - var(--bottom-inset)) / 4);
  overflow-x: scroll;
}

#paddle {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

button.wat {
  opacity: 0.7;
}

button.wat, .instr {
  background-color: #3c3c3c;
  color: ivory;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  height: 1.75rem;
  user-select: none;
  touch-action: pan-x;
}

.line-instr:hover,
.instr:hover {
  cursor: grab;
}

.line-instr:active:hover,
.instr:active:hover {
  cursor: grabbing;
}

.line {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  user-select: none;
}

.line > * {
  display: flex;
  align-items: center;
}

.line.cursor::before {
  content: "";
  display: block;
  outline: 1px solid aqua;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 0;
}

.delete {
  color: #ff7171;
}

.delete-border {
  border: 1px solid #FF0000;
}

.empty {
  color: #555;
}

.numeric {
  color: ivory;
}

.numeric-border {
  border: 1px solid #777777;
}

.control-flow {
  color: #D673CB;
}

.control-flow-border {
  border: 1px solid #D673CB;
}

.memory {
  color: #AC86FF;
}

.memory-border {
  border: 1px solid #AC86FF;
}

.variable {
  color: #86BDF9;
}

.variable-border {
  border: 1px solid #86BDF9;
}

.function {
  color: #80e4c9;
}

.function-border {
  border: 1px solid #80e4c9;
}

.line-number {
  min-width: 2ch;
  text-align: end;
  margin-right: 1ch;
  justify-content: end;
}

.line:not(.empty) .line-number {
  filter: brightness(60%);
}

.line:not(.empty) .line-instr {
  background-color: var(--line-color);
  padding: 0 1rem;
}

.line.empty .line-instr {
  padding-right: 2rem;
}

.line-instr {
  touch-action: none;
}

.warn {
  color: yellow;
}

/************* GENERAL *************/

.input {
  color: ivory;
  outline: none;
  border: none;
  background-color: var(--bg-color);
}

.ml1 {
  margin-left: 1ch;
}
.ml2 {
  margin-left: 2ch;
}
.mr1 {
  margin-right: 1ch;
}
.mr2 {
  margin-right: 2ch;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.pre-wrap {
  white-space: pre-wrap;
}
